# Python Tutorial

In [6]:
# String
[start,stop,step] method
[2,5,2]
# reverse a string
mys = [1,2,3,4,5,6,7]
mys[::-1]

[7, 6, 5, 4, 3, 2, 1]

In [11]:
# string concatenation
mystring = "Baba"

last_letters = mystring[1:]
last_letters

'M' + last_letters

'Maba'

In [27]:
# string formating .format method
print('The {1} {0} and the {2}' .format("boy","nice","Bear"))

The nice boy and the Bear

In [28]:
# using key words
print('The {n} {f} and the {b}' .format(f="fox",n="nice",b="Bear"))

The nice fox and the Bear

**Float formatting follows '{value:width.precision f}'**

In [29]:
result = 509/9
result

56.55555555555556

In [37]:
print('The result is {r:1.3f}'.format(r=result))

The result is 56.556

In [40]:
#  f-string method
name = 'bankole'
print(f'His name is {name}')

His name is bankole

In [ ]:
# .pop() removes an item in a list
# .reverse() reverses a list
# tuples are immutable
# sets only accepts unique values

**Writing a file in Jupyter**

In [41]:
%%writefile myfile.txt
Hello this is a text file
this is the second line 
this is the third line

Writing myfile.txt

In [44]:
myfile = open('myfile.txt')

In [45]:
pwd # working directory

'C:\\Users\\adeda\\Downloads\\Data Science\\Python tutorial'

In [47]:
myfile.read()

'Hello this is a text file\nthis is the second line \nthis is the third line\n'

In [55]:
myfile.seek(0) # cursor goes to the beginning of the line

0

In [54]:
content = myfile.read()
content

'Hello this is a text file\nthis is the second line \nthis is the third line\n'

In [56]:
myfile.readlines() # much easier to read

['Hello this is a text file\n',
 'this is the second line \n',
 'this is the third line\n']

In [57]:
myfile.close()

In [59]:
# with this you don't have to worry abt closing the file
with open('myfile.txt') as my_new_file:
    contents= my_new_file.read()

In [60]:
contents

'Hello this is a text file\nthis is the second line \nthis is the third line\n'

In [62]:
# square root - easy way
100 ** 0.5
4 ** 0.5

2.0

In [ ]:
# sorted() doesn't return an in place version .sort() does

In [63]:
# logical operator
not 3 ==5

True

In [1]:
## tuple unpacking - side note
myList = [(1,2),(3,4),(5,6),(7,8)]
for (a,b) in myList:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [2]:
# zip does the opposite of unpacking
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
for item in zip(mylist1, mylist2):
    print (item)

(1, 'a')
(2, 'b')
(3, 'c')

In [3]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [5]:
'ab' in 'abiodun'

True

In [6]:
8 in [12346]

False

In [7]:
'mykey' in {'mykey':987}

True

In [11]:
info = {'mykey':987}
987 in info.values()

True

In [13]:
mylist = [10,20,50,80]
min(mylist)
max(mylist)

80

In [14]:
from random import shuffle

In [17]:
mylist = [10,20,50,80]
shuffle(mylist)

In [18]:
mylist

[20, 10, 80, 50]

In [19]:
from random import randint

In [23]:
# can be saved
num = randint(200,500)

In [24]:
num

352

In [26]:
result = input('what is your name?')

what is your name? mumu

In [27]:
result

'mumu'

In [28]:
result2 = int(input('Your number pls:'))

Your number pls: 23

In [31]:
result2

23

In [2]:
# list comprehension
mystring = "hello"
mylist= []

for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
# alternative - flattened for loop
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [5]:
mylist = [num**2 for num in range(0,11)]

In [6]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
mylist = [x**2 for x in range(0,11) if x%2==0]
mylist

[0, 4, 16, 36, 64, 100]

In [10]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [11]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [13]:
for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)
    
fahrenheit

[32.0, 50.0, 68.0, 94.1, 32.0, 50.0, 68.0, 94.1]

In [16]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [18]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [19]:
# be careful with list comprehension for readability sake
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

**Methods and functions**

In [64]:
mylist = [1,2,3,4]

help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [65]:
# important to put a docstring to give info abt ur function
def name_function():
    '''
    DOCSTRING: Information about the function  
    INPUT: No input...
    OUTPUT: Hello...
    '''
    print('Hello')

In [68]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING: Info about function
    INPUT: No input
    OUTPUT: Name

In [73]:
# sets default
def say_hello(name='NAME'):
    return'hello '+name

In [74]:
result=say_hello('Jude')

In [75]:
result

'hello Jude'

In [76]:
def dog_check(Gstring):
    return 'dog' in Gstring.lower()

In [77]:
dog_check('Dog ran fast')

True

In [82]:
def pig_latin(word):
    first_letter = word[0]
    
    #check if vowel
    if first_letter in 'aeiou':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
        
    return pig_word

In [84]:
pig_latin('kunu')

'unukay'

In [85]:
 def myfunc(a):
     if a == True:
         return 'Hello'
     elif a == False:
         return 'Goodbye'

In [88]:
myfunc(True)

'Hello'

In [89]:
def myfunc(x,y):
    return x*y

myfunc(6,2)

12